body{
    background: white;
}

.cart-container{
    height: calc(100vh - 450px);
    /* background: yellow; */
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.cart-container img{
    height: 100%;
}

.empty{
    margin-top: 30px;
    margin-bottom: 100px;
    width: 100%;
    text-align: center;
    font-size: 200%;
    font-weight: 700;
}